@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #e7e7e9;
  background-image: radial-gradient(rgb(219, 219, 219) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -19px -19px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.repo-tree {
  display: flex;
  flex-direction: column;
}

.folder.horizontal {
  display: flex;
}

.folder.vertical {
  display: block;
  width: fit-content;
}

.folder > div {
  cursor: pointer;
  padding: 5px;
}

.contents {
  margin-left: 20px;
  margin-top: 10px;
}

